@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
}
.login-page {
  margin-top: 170px;
}
.disabled {
  color: rgb(134, 134, 134) !important;
}
.navbar-nav .nav-item .nav-link {
  color: rgb(0, 0, 0);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(134, 134, 134);
}
.piechart-main {
  width: 80%;
  margin: 15px auto;
}
.navbar-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #f9f7f7;
}
/* laptop only  */
@media (min-width: 768px) {
}
/* tablet  */
@media (max-width: 1024px) {
  .login-page-details {
    display: none;
  }
}
@media only screen and (min-width: 770px) {
  .image-home {
    background-image: none;
  }
}
@media (min-width: 1024px) {
}
/* mobile phones */
@media (max-width: 768px) {
  .login-page-details {
    display: none;
  }
  .image-home {
    background-image: none;
  }
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* end part  */
.policy {
  background: #1e1e1e;
  line-height: 24px;
  margin-bottom: 0;
}

.cookie {
  color: #7dcc80;
  text-decoration: none;
  cursor: pointer;
}

.cookie:hover {
  color: #06ac3d;
}
.alert {
  margin-bottom: 0rem !important;
}
.alert-warning {
  background: #1e1e1e;
  border: none;
  color: #fff;
}

.btn-close {
  color: #fff;
}

/* investment section  */
.investment-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}

.investment-details {
  padding: 0 50px;
}

/* contact box  */
.contact-box {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.image-background-contact {
  opacity: 0.1;
  position: absolute;
  width: 120px;
}

.iframe-img {
  width: 100%;
}

.border-radius-contact {
  border-radius: 5px;
}

/* Investment  */

.sip-investment {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  border-color: #ccc;
  box-shadow: none;
}

.investment-section {
  margin: 80px 0;
}
.investment-info {
  text-align: justify;
}

.investment-desc {
  padding: 30px;
}

/* expenses  */

.box a {
  text-decoration: none !important;
  color: #050505;
}

.box {
  margin-bottom: 60px;
}

.box-part {
  background: linear-gradient(110deg, #e6e6e6 60%, #d9dad9 60%);
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0;
  color: #1b1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.box-part:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
  transition: 0.4s;
}

.text {
  margin: 20px 0;
}

.box-part > i {
  color: #000000;
}

.image-advantage {
  height: 100%;
  width: 100%;
}

#addExpenseForm {
  margin-bottom: 20px;
}

#expenseTable {
  margin-top: 20px;
}

.expenseDaily {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 40px;
}

.table-expenses {
  padding: 20px;
}

.expenses-section {
  min-height: 550px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.footer-text {
  background-color: rgba(0, 0, 0, 0.05);
}

.main-footer {
  background-color: #1b1a1a;
}
.footer-text > a {
  color: #d3c7c7 !important;
  text-decoration: none;
}

.awareness-finance {
  text-align: justify;
  font-size: 19px;
}

.accordian-header {
  background: #e0e0e0;
  color: #000;
}
.navbar-brand {
  width: 120px;
}

.navbar-brand img {
  width: 100%;
}

.user-name {
  font-size: 44px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pg2 {
  text-align: center;
}

.image-home {
  background-image: url(../img/homepage.svg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 35px;
}

.news-letter {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.card > img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.pie-chart-box {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
}

.people-thoughts {
  line-height: 50px;
  margin-bottom: 30px;
}
.accordian-home {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.people-thoughts h2 {
  margin-left: 20px;
  font-weight: 700;
  color: #50503b;
  /* font-family: "Campton Semi Bold"; */
  font-size: 46px;
  line-height: 48px;
  margin-bottom: 20px;
}

.people-thoughts p {
  /* font-family: "Campton Book"; */
  color: #585858;
  font-size: 16px;
  margin-left: 20px;
  line-height: 22px;
  margin-bottom: 20px;
}
.thoughts-card {
  margin: 5px 5px 20px 5px;
}

.testimonial {
  background: #fff;
  background-image: url(https://cdn.spiir.dk/spiirlandingpage/testimonials/testimonial-quote.svg);
  background-repeat: no-repeat;
  background-size: 16px 11px;
  background-position: 20px 15px;
  box-shadow: 0 0 5px #000;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 16px;
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials {
  border: none;
}

.testimonials-yellow:nth-child(2n),
.yellow {
  background-color: #ffc435;
}
