@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 10px;
    margin-top: 0;
}
/* Body styles */
body {
    font-family: "Montserrat", sans-serif;

    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#e2e2e0;
}

/* Container styles */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 1rem;
    min-height: 45vh;
    width: 45vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center content horizontally */
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

label {
    font-weight: normal;
    margin-bottom: 8px;
    text-align: left; /* Align label text to the left */
    width: 100%; /* Make label full width */
    display: inline;
    
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.50rem;
    margin-bottom: 12px;
    width: 100%; /* Make inputs full width minus border and padding */
    max-width: 300px; /* Limit maximum width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px; /* Increased padding for button */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Additional styles (optional) */
.signup-link {
    margin-top: 16px;
    margin-bottom: 0px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}
.signup-link p{
    margin-top: 10px;
}

/* Google sign-in button styles */
#google-signin {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 0px; /* Add some top margin for spacing */
}

#google-signin img {
    max-width: 40px; /* Increase size slightly */
    max-height: 40px; /* Fix missing semicolon */
}


#google-signin img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
    filter: brightness(110%); /* Increase brightness on hover */
}
.index-image-login{
    width: 220px;
    margin-bottom: 25px;
    margin-left: 7%;

}
.index-image-login img{
    width: 100%;
}