body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.form-container {

    max-width: 400px;
    margin-left: 750px;
    margin-top: 250px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    display: block;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.sip-img{
    margin-top: 200px;
    margin-left: 200px;
}